

.characterSing{
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-template-columns: 2;
}
.character :nth-child(1){
    border-radius: 50%;
   
    width: 80%;
}


.character :nth-child(2){
  color: white;
  font-size: 1.8rem;
  text-align: center;
}

@media screen and (max-width: 375px) {
  .character{
    max-height: 200px;
  }
  .character :nth-child(2){
    font-size: 1rem;
    text-align: center;
  }
}